.card {
  padding: 25px;
  width: 300px;
  height: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: var(--color-bg-gray);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  user-select: none;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

.card-img {
  width: 100%;
  max-width: 100px;
  height: auto;
  flex: 1;
}

.card-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}